<h1>Edit order</h1>

<%= render "form", order: @order %>

<div class="mt-2">
  <%= link_to "Show this order", @order, class: "btn btn-outline-primary mx-1" %> |
  <%= link_to "Back to orders", orders_path, class: "btn btn-outline-primary mx-1" %>
</div>